/* google font -  Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/* variables das cores  */
:root{
    /* gradients */
    --gradient1: #ffce51;
    --gradient2: #ff7253;
    --gradient3: #fd5754;

    /* outras cores */
    --corDoTexto: #2b344b;
    --corDaBorda:#273655bc;
}


/* Retirando a "margin" and "padding" em excesso */
*{
    margin: 0px;
    padding:0px;
}


/* estilizações gerais */
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-image: linear-gradient(-45deg,var(--gradient1),var(--gradient2),var(--gradient3));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: white;
    border-radius: 10px;
    padding: 60px 60px 40px 60px;
    width: min-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--corDoTexto);
}

#title{
    font-size: 1.8em;
    text-align: center;
}

.input{
    border: 2px solid var(--corDaBorda);
    border-radius: 22px;
    min-width: 220px;
    padding: 5px;
    margin: 0px 0px 16px 0px;
}


.input i{
    padding: 3px;
    color: tomato;
}


.label{
    font-size: 1.1em;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
}

.header  #title{
    align-self: center;
    margin: 0px 0px 0px 29px;
}



.input input{
    width: 80%;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#divButton{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 36px;
}


/* button */
#button{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(-45deg, var(--gradient1), var(--gradient2), var(--gradient3));
    width: 100%;
    border: none;
    border-radius: 22px;
    height: 100%;
    font-size: 1.03em;
    outline: none;
    color: white;
    outline: none;
    cursor: pointer;
}


#button:hover{
    background-image: linear-gradient(45deg, var(--gradient1), var(--gradient2), var(--gradient3));
    font-weight: 600;
}
