@charset "UTF-8";

body{
    background-image:repeating-linear-gradient(to right, #F37640,#8C4274);
}

main{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:white;
    max-width: 700px;
    margin:auto;
    border:6px solid black;
    border-radius:11px;
    box-shadow: 5px 5px 15px #361a2d73;
    padding:20px 20px 20px 20px;
}

h1{
    color: #3B3B3B	;
    text-align: center ;
    text-shadow:1px 1px 1px #726e6e;
}

h2{
    color: #868686	;
    text-align:start;
}

p{
    text-align: justify;
    
}

.last_p{
    padding-bottom: 40px;
}