@charset "UTF-8";

div{
    height: 500px;
    background-color: rgba(0, 128, 0, 0.422);
}

p{
    max-width: 200px;
    border: 2px solid rgb(162, 58, 40);
    background-color: rgb(255, 99, 71,30%);
    margin: 20px auto 20px auto ;
}
