@charset "UTF-8";


h2{
  border: 2px solid black;
  height: 200px;

  background-image:
  url('https://cdn-icons.flaticon.com/png/512/2632/premium/2632945.png?token=exp=1658782081~hmac=328ca487ee4c1a12f8791171cd3f7717'),
  url('https://cdn-icons-png.flaticon.com/512/1391/1391395.png');
  background-repeat: no-repeat, repeat;
  background-size: 60px, 50px;
  opacity: 0.5;
  
}